@keyframes size {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@-webkit-keyframes size {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 0.8125rem; } }

body {
  font-size: 1rem;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  color: #2f3234;
  line-height: 1.42;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  position: relative; }

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 0 0.625rem; }

.maincontant {
  height: 100%;
  min-height: 650px; }

.section {
  background-color: rgba(20, 20, 20, 0.31);
  width: 100%;
  min-height: 650px;
  height: 100vh; }
  @media screen and (max-width: 768px) {
    .section {
      min-height: 1024px; } }
  @media screen and (max-width: 480px) {
    .section {
      min-height: 800px; } }

.section__title {
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  margin-bottom: 3.75rem; }
  @media screen and (max-width: 768px) {
    .section__title {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .section__title {
      font-size: 3.4375rem; } }
  .section__title--white {
    color: #fff; }
  .section__title--dark {
    color: #2f3234; }
  .section__title--yellow {
    color: #f8b43a; }

.pagination {
  position: fixed;
  -webkit-transform: translate(31.3125rem, 5.625rem);
  -ms-transform: translate(31.3125rem, 5.625rem);
  transform: translate(31.3125rem, 5.625rem);
  top: 0%;
  right: 50%;
  z-index: 2; }

.pagination__item {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  margin-bottom: 0.3125rem; }
  .pagination__item:after {
    content: '';
    display: inline-block;
    width: 0.375rem;
    background-color: #fff;
    height: 0.375rem;
    border-radius: 50%;
    position: relative;
    top: -0.1875rem;
    left: 0.4375rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.pagination__item:hover, .pagination__item--active {
  border: 1px solid #fff; }

.arrow__link {
  display: block; }
  .arrow__link:hover {
    animation: size 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    -webkit-animation: size 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in; }

.arrow__img {
  width: 1.875rem;
  height: 1.875rem;
  fill: #fff;
  margin-bottom: 4vh; }
  @media screen and (max-width: 480px) {
    .arrow__img {
      margin-bottom: 3.5vh; } }

.general {
  background-image: url("../img/bg/general-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative; }

.general__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 0.3125rem; }

.header__logo {
  margin-right: auto;
  margin-left: -0.125rem;
  margin-top: 0.40625rem; }

.header__nav {
  margin-right: 0.8125rem; }
  @media screen and (max-width: 768px) {
    .header__nav {
      display: none; } }

.nav__item {
  display: inline-block;
  vertical-align: middle; }
  .nav__item:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0.25rem;
    background-color: #fff;
    height: 0.25rem;
    border-radius: 50%;
    margin: 0 0.875rem 0 0.9375rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 5;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle; }
  .nav__link:hover {
    text-decoration: underline; }

.order__btn {
  display: block;
  border: none;
  height: 2.1875rem;
  min-width: 6.125rem;
  background-color: #e25028;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  border-radius: 0.3125rem;
  font-size: 0.8125rem;
  font-weight: 500;
  border-radius: 0.3125rem;
  text-align: center;
  line-height: 2.1875rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order__btn:hover {
    cursor: pointer;
    background-color: #cb411b; }
  @media screen and (max-width: 768px) {
    .order__btn {
      padding: 0 1.25rem; } }
  @media screen and (max-width: 480px) {
    .order__btn {
      padding: 0 1.5625rem;
      height: 2.4375rem; } }

.header__burger-btn {
  display: none;
  border: none;
  background-color: transparent;
  margin: 0.375rem 0.9375rem 0 1.5rem; }
  @media screen and (max-width: 768px) {
    .header__burger-btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .header__burger-btn {
      margin: 0.375rem 0 0 1.5rem; } }
  .header__burger-btn:hover .burger-btn__line {
    height: 5px;
    border-radius: 2.5px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

.burger-btn__line {
  background-color: #fff;
  display: block;
  width: 1.5625rem;
  height: 0.25rem;
  border-radius: 0.125rem;
  margin-bottom: 0.3125rem; }

.general__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -6vh;
  margin-left: 2.5%; }
  @media screen and (max-width: 768px) {
    .general__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 12vh;
      margin-left: -3%; } }
  @media screen and (max-width: 480px) {
    .general__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 4.5vh;
      width: 25.625rem;
      max-width: 100vw; } }

.general__img, .general__slogan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }
  @media screen and (max-width: 768px) {
    .general__img, .general__slogan {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.general__img-pic {
  max-width: 100%;
  max-height: 80vh;
  margin-top: -10vh; }
  @media screen and (max-width: 768px) {
    .general__img-pic {
      margin: 0 auto; } }
  @media screen and (max-width: 480px) {
    .general__img-pic {
      margin-left: 0.125rem;
      max-width: 90vw; } }

.general__slogan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: -0.3125rem;
  max-width: 100%; }
  @media screen and (max-width: 768px) {
    .general__slogan {
      width: 26.25rem;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.section__title--general {
  white-space: wrap; }
  @media screen and (max-width: 480px) {
    .section__title--general {
      text-align: center;
      font-size: 13.125vw; } }

.general__slogan-text {
  color: #fff;
  font-family: 'Lifehack';
  font-weight: 500;
  font-size: 4.0625rem;
  line-height: 0.95;
  margin-top: -3.125rem;
  white-space: wrap;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .general__slogan-text {
      font-size: 11.25vw; } }

.best {
  background-image: url("../img/bg/best-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative; }

.best__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 16vh;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .best__content {
      min-width: 18.75rem;
      max-width: 100vw; } }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .best__list {
      margin-top: 9.375rem; } }
  @media screen and (max-width: 480px) {
    .best__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 1.875rem;
      height: 70vh; } }

.best__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 33.3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.25rem; }
  .best__item:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .best__item {
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .best__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 0 auto;
      margin-bottom: 0.8125rem;
      width: 100%;
      height: 33%;
      -webkit-box-flex: 3;
      -webkit-flex: 3;
      -ms-flex: 3;
      flex: 3; } }

.best__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .best__desc {
      margin-left: 0.625rem;
      max-width: 70vw;
      height: 100%; } }

.best__desc-title {
  font-size: 1.5rem;
  font-family: 'Lifehack';
  margin-top: 1.75rem;
  margin-bottom: 0.0625rem;
  text-align: center;
  line-height: 1.85rem; }
  @media screen and (max-width: 480px) {
    .best__desc-title {
      text-align: left;
      margin-bottom: 0.375rem; } }

.best__desc-text {
  font-size: 0.875rem;
  font-family: 'Ubuntu';
  font-weight: 300;
  text-align: center;
  width: 100%;
  line-height: 1.5rem; }
  @media screen and (max-width: 480px) {
    .best__desc-text {
      text-align: left;
      line-height: 1.7rem; } }

.best__img {
  width: 5.9375rem;
  height: 5.625rem; }
  .best__img--meat {
    fill: #e25028;
    margin: -1.375rem 0.125rem 0 0; }
  .best__img--hand {
    fill: #f8b43a;
    margin: 0 0 0.25rem 0; }
  .best__img--natural {
    fill: #8ac03e;
    width: 5.625rem;
    height: 5.3125rem;
    margin: -1.25rem 0 0.625rem 0; }
  @media screen and (max-width: 768px) {
    .best__img {
      width: 6.25rem;
      height: 6.25rem; } }
  @media screen and (max-width: 480px) {
    .best__img {
      max-width: 41.67vw;
      max-height: 39.58vw;
      margin: 0;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .best__img--hand {
        margin: 7.3vw 0 0 0; }
      .best__img--natural {
        max-width: 20.84vw;
        max-height: 20.84vw;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin: -10vw 2.08vw 0 2.08vw; } }

.comments__container {
  height: 100%; }

.comments__content {
  height: 100%; }

.comments__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.comments__item {
  height: 50%;
  width: 25%;
  position: relative; }
  @media screen and (max-width: 768px) {
    .comments__item {
      height: 25%;
      width: 50%; } }

.comments__block {
  display: none;
  position: absolute;
  padding: 0 8% 0.5vh 8%;
  color: #fff;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .comments__block {
      text-align: center; } }

.comments__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .comments__img:hover:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }
  .comments__img:hover .comments__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: absolute; }
    @media screen and (max-width: 768px) {
      .comments__img:hover .comments__block {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; } }

.block__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Gagalin';
  font-size: 0.875rem;
  margin-bottom: 1vmin; }
  @media screen and (max-width: 768px) {
    .block__title {
      margin-bottom: -0.1875rem; } }
  @media screen and (max-width: 480px) {
    .block__title {
      font-size: 1.6875rem;
      line-height: 2rem;
      text-align: center;
      margin-bottom: 1.75rem; } }

.block__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.53rem;
  margin-bottom: -0.5vmin;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .block__text {
      font-size: 0.875rem;
      line-height: 1.6rem; } }
  @media screen and (max-width: 480px) {
    .block__text {
      display: none; } }

.block__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: block;
  border: none;
  height: 2.1875rem;
  min-width: 6.125rem;
  background-color: #2f3234;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  border-radius: 0.3125rem;
  font-size: 0.8125rem;
  font-weight: 500;
  border-radius: 0.3125rem;
  text-align: center;
  line-height: 2.1875rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  width: 6.875rem; }
  .block__btn:hover {
    cursor: pointer;
    background-color: #1e2021; }
  @media screen and (max-width: 768px) {
    .block__btn {
      width: 7.3125rem;
      margin-left: 0.3125rem; } }
  @media screen and (max-width: 480px) {
    .block__btn {
      display: none; } }

.block__btn-mobile {
  display: none; }
  @media screen and (max-width: 480px) {
    .block__btn-mobile {
      display: block;
      border: none;
      height: 2.1875rem;
      min-width: 6.125rem;
      background-color: #2f3234;
      color: #fff;
      text-transform: uppercase;
      font-family: 'Ubuntu';
      border-radius: 0.3125rem;
      font-size: 0.8125rem;
      font-weight: 500;
      border-radius: 0.3125rem;
      text-align: center;
      line-height: 2.1875rem;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      display: block;
      width: 9.0625rem;
      height: 2.5625rem;
      margin-left: 0.1875rem; }
      .block__btn-mobile:hover {
        cursor: pointer;
        background-color: #1e2021; } }

.team {
  background-image: url("../img/bg/team-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  position: relative; }

.team__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.team__content {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 49.3%;
  min-width: 30rem;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(47, 50, 52, 0.93);
  padding-left: 5rem;
  padding-top: 4rem; }
  @media screen and (max-width: 768px) {
    .team__content {
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0;
      padding-top: 6.875rem; } }
  @media screen and (max-width: 480px) {
    .team__content {
      padding-top: 3rem;
      min-width: 18.75rem;
      max-width: 100vw; } }

.team__list {
  margin-top: -0.5vh;
  margin-left: 1.125rem; }
  @media screen and (max-width: 768px) {
    .team__list {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .team__list {
      margin-top: 5rem; } }

.team__item-title {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  font-family: 'Gagalin';
  font-size: 0.875rem;
  position: relative;
  margin-bottom: 4.5vh; }
  .team__item-title:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 6px solid #f8b43a;
    border-bottom: 0 solid transparent;
    left: -1.125rem;
    top: 0.5rem;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  @media screen and (max-width: 768px) {
    .team__item-title {
      font-size: 1.5625rem;
      margin-bottom: 1.75rem; }
      .team__item-title:before {
        top: 1rem; } }
  @media screen and (max-width: 480px) {
    .team__item-title {
      margin-bottom: 2rem; }
      .team__item-title:before {
        left: -1.9375rem; } }

.team__item-content {
  display: none;
  margin-top: -2.5vh;
  margin-bottom: 3.5vh; }

.team__item--active .team__item-title {
  color: #f8b43a; }
  .team__item--active .team__item-title:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  @media screen and (max-width: 768px) {
    .team__item--active .team__item-title:before {
      top: 0.75rem; } }

.team__item--active .team__item-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .team__item--active .team__item-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.item-content__img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .item-content__img {
      min-width: 6.5625rem;
      min-height: 6.5625rem;
      margin-bottom: 1.25rem; } }
  @media screen and (max-width: 480px) {
    .item-content__img {
      min-width: 7rem;
      min-height: 7rem;
      margin-bottom: 1.125rem; } }

.item-content__desc {
  width: 13.75rem;
  color: #fff;
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 300; }
  @media screen and (max-width: 768px) {
    .item-content__desc {
      width: 21.25rem;
      margin-bottom: -0.3125rem; } }
  @media screen and (max-width: 480px) {
    .item-content__desc {
      width: 21.25rem;
      margin-bottom: 0.3125rem; } }

.item-content__title {
  font-weight: 900; }

.item-content__text {
  line-height: 1.5rem; }
  @media screen and (max-width: 768px) {
    .item-content__text {
      line-height: 1.6rem; } }

.menu {
  background-image: url("../img/bg/menu-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative; }

.menu__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.section__title--menu {
  position: absolute;
  top: 13.5vh;
  left: 8.5%; }

.menu__list {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.menu__item {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu__item--active .menu__item-content {
    width: 34.0625rem;
    height: 100%; }
    .menu__item--active .menu__item-content .item-content__text-menu {
      display: block; }
  .menu__item--active .menu__item-title {
    color: #f8b43a; }

.menu__item-content {
  width: 0;
  height: 100%;
  overflow: hidden;
  background: rgba(47, 50, 52, 0.93); }

.menu__item-link {
  display: block;
  position: relative;
  height: 100%;
  width: 5rem;
  text-decoration: none; }
  .menu__item-link:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.7); }
  .menu__item-link:hover:before {
    background: rgba(20, 20, 20, 0.85); }
  @media screen and (max-width: 480px) {
    .menu__item-link {
      max-width: 16.7vw; } }

.menu__item-title {
  position: absolute;
  color: #fff;
  font-family: 'Gagalin';
  font-size: 2.5rem;
  text-align: center;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg) translate(-50%, -50%);
  -ms-transform: rotate(-90deg) translate(-50%, -50%);
  transform: rotate(-90deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 50%;
  top: 50%; }
  @media screen and (max-width: 768px) {
    .menu__item-title {
      -webkit-transform: rotate(-90deg) translate(0, -50%);
      -ms-transform: rotate(-90deg) translate(0, -50%);
      transform: rotate(-90deg) translate(0, -50%);
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      top: 96%; } }

.item-content__text-menu {
  height: 100%;
  width: 100%;
  padding: 3.75rem 1.875rem;
  color: #fff;
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  display: none;
  line-height: 1.8; }

.order {
  background-image: url("../img/bg/form-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative; }

.order__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-bottom: 4.75rem; }

.form {
  width: 100%; }
  @media screen and (max-width: 768px) {
    .form {
      max-width: 31.5625rem; } }

.form__elem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .form__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  margin-right: 0.9375rem; }
  .form__col:last-child {
    margin: 0; }
  @media screen and (max-width: 768px) {
    .form__col {
      margin-right: 0;
      width: 100%; } }

.form__row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.0625rem; }
  .form__block:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .form__block:nth-child(3) {
      margin-right: 0; } }

@media screen and (max-width: 480px) {
  .form__block--no-phones {
    display: none; } }

.form__block-textarea {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.buttons__row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__label {
  font-size: 0.875rem;
  font-family: 'Ubuntu';
  font-weight: 300;
  color: #fff;
  margin-bottom: 0.3125rem; }

.form__input {
  height: 2.25rem;
  width: 100%;
  border: 0.0625rem solid #2f3234;
  border-radius: 0.3125rem;
  margin-bottom: 0.9375rem;
  padding: 0 0.625rem; }
  .form__input:focus {
    outline: none;
    border: 0.125rem solid #f8b43a; }

.form__textarea {
  height: 6.875rem;
  resize: none; }

.buttons__row {
  margin-bottom: 1.125rem; }

.buttons__radio-label {
  position: relative;
  margin-right: 1.125rem; }
  .buttons__radio-label:before {
    content: "";
    width: 1.0625rem;
    height: 1.0625rem;
    border-radius: 50%;
    border: 0.0625rem solid #2f3234;
    background-color: #fff;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    margin-right: 0.625rem; }
  .buttons__radio-label:after {
    content: "";
    position: absolute;
    left: 0.5rem;
    top: -0.0625rem;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #e25028; }
    @media screen and (max-width: 768px) {
      .buttons__radio-label:after {
        top: 0.03125rem; } }
  .buttons__radio-elem:focus + .buttons__radio-label:before {
    border: 0.0625rem solid #e25028; }
  .buttons__radio-elem:focus + .buttons__radio-label:after, .buttons__radio-elem:checked + .buttons__radio-label:after {
    width: 0.4375rem;
    height: 0.4375rem; }

.buttons__check-label:before {
  content: "\2714";
  color: transparent;
  font-weight: 900;
  width: 1.125rem;
  height: 1.125rem;
  border: 0.0625rem solid #2f3234;
  background-color: #fff;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  padding: 0 0 0.125rem 0.125rem;
  margin-right: 0.625rem; }

.buttons__check-elem:focus + .buttons__check-label:before {
  border: 0.0625rem solid #e25028; }

.buttons__check-elem:checked + .buttons__check-label:before {
  content: "\2714";
  color: #e25028; }

.buttons__btn-elem {
  float: left;
  display: block;
  border: none;
  height: 2.1875rem;
  min-width: 6.125rem;
  background-color: #e25028;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  border-radius: 0.3125rem;
  font-size: 0.8125rem;
  font-weight: 500;
  border-radius: 0.3125rem;
  text-align: center;
  line-height: 2.1875rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  outline: none;
  border: 0.0625rem dotted transparent;
  margin-left: 0.125rem; }
  .buttons__btn-elem:hover {
    cursor: pointer;
    background-color: #cb411b; }
  .buttons__btn-elem:focus {
    border: 0.0625rem dotted #fff; }

.buttons__btn-elem-reset {
  outline: none;
  display: block;
  border: 0.0625rem dotted transparent;
  height: 2.1875rem;
  min-width: 6.125rem;
  background-color: transparent;
  color: #fff;
  font-family: 'Ubuntu';
  border-radius: 0.3125rem;
  font-size: 0.8125rem;
  font-weight: 500;
  border-radius: 0.3125rem;
  text-align: center;
  line-height: 2.0625rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .buttons__btn-elem-reset:hover {
    cursor: pointer;
    border: 0.0625rem dotted #fff; }
  .buttons__btn-elem-reset:focus {
    border: 0.0625rem solid #fff; }
  .buttons__btn-elem-reset:active {
    border: 0.0625rem solid #fff; }

.map {
  background-image: url("../img/bg/map-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative; }

.map__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.footer {
  height: 3.625rem;
  width: 100%;
  background-color: #111111;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  font-family: 'Ubuntu';
  font-weight: 300;
  color: #fff;
  white-space: nowrap; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 7.1875rem; } }

.footer__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }
  @media screen and (max-width: 480px) {
    .footer__column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.footer__adress {
  margin-top: -0.0625rem; }

.footer__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.3125rem; }

.phone__pic {
  fill: #e25028;
  width: 0.6875rem;
  height: 0.6875rem;
  margin-top: 0.3125rem;
  margin-right: 0.625rem; }

.phone__text {
  font-weight: 900;
  color: #e25028; }
  .phone__text a {
    text-decoration: none;
    color: inherit; }

.footer__socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.socials__img {
  fill: #585858;
  max-width: 1.25rem;
  max-height: 1.25rem;
  margin-left: 1.25rem; }
  .socials__img:hover {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    fill: #fff; }

/*# sourceMappingURL=main.css.map */