@keyframes size {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@-webkit-keyframes size {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

body {
  font-size: 1rem;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  color: #2f3234;
  line-height: 1.42;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  position: relative; }

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 0 0.625rem; }

.maincontant {
  height: 100%;
  min-height: 650px; }

.section {
  background-color: rgba(20, 20, 20, 0.31);
  width: 100%;
  min-height: 650px;
  height: 100vh; }
  @media screen and (max-width: 768px) {
    .section {
      min-height: 1024px; } }
  @media screen and (max-width: 480px) {
    .section {
      min-height: 800px; } }

.section__title {
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 3.75rem; }
  @media screen and (max-width: 768px) {
    .section__title {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .section__title {
      font-size: 50px; } }
  .section__title--white {
    color: #fff; }
  .section__title--dark {
    color: #2f3234; }
  .section__title--yellow {
    color: #f8b43a; }

.pagination {
  position: fixed;
  -webkit-transform: translate(31.3125rem, 5.625rem);
  -ms-transform: translate(31.3125rem, 5.625rem);
  transform: translate(31.3125rem, 5.625rem);
  top: 0%;
  right: 50%;
  z-index: 2; }

.pagination__item {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  margin-bottom: 0.3125rem; }
  .pagination__item:after {
    content: '';
    display: inline-block;
    width: 0.375rem;
    background-color: #fff;
    height: 0.375rem;
    border-radius: 50%;
    position: relative;
    top: -0.1875rem;
    left: 0.4375rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.pagination__item:hover, .pagination__item--active {
  border: 1px solid #fff; }

.arrow__link {
  display: block;
  position: absolute;
  bottom: 4.5vh; }
  @media screen and (max-width: 768px) {
    .arrow__link {
      bottom: 2.7vh;
      left: 48%; } }
  @media screen and (max-width: 480px) {
    .arrow__link {
      bottom: 2.2vh;
      left: 47%; } }
  .arrow__link:hover {
    animation: size 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    -webkit-animation: size 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in; }

.arrow__img {
  width: 29px;
  height: 29px;
  fill: #fff; }

.general {
  background-image: url("../img/bg/general-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative; }

.general__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 5px; }

.header__logo {
  margin-right: auto;
  margin-left: -2px;
  margin-top: 6.5px; }
  @media screen and (max-width: 768px) {
    .header__logo {
      margin-left: 2%; } }
  @media screen and (max-width: 480px) {
    .header__logo {
      margin-left: 2%;
      margin-top: 8px; } }

.header__nav {
  margin-right: 13px; }
  @media screen and (max-width: 768px) {
    .header__nav {
      display: none; } }

.nav__item {
  display: inline-block;
  vertical-align: middle; }
  .nav__item:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    background-color: #fff;
    height: 4px;
    border-radius: 50%;
    margin: 0 14px 0 15px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 5;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle; }
  .nav__link:hover {
    text-decoration: underline; }

.order__btn {
  display: block;
  border: none;
  height: 35px;
  min-width: 98px;
  background-color: #e25028;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order__btn:hover {
    cursor: pointer;
    background-color: #cb411b; }
  @media screen and (max-width: 768px) {
    .order__btn {
      padding: 2px 17px; } }
  @media screen and (max-width: 480px) {
    .order__btn {
      padding: 0 17px; } }

.header__burger-btn {
  display: none;
  border: none;
  background-color: transparent;
  margin: 6px 1.5% 0 3.1%; }
  @media screen and (max-width: 768px) {
    .header__burger-btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .header__burger-btn {
      margin: 6px 0.7% 0 5%; } }
  .header__burger-btn:hover .burger-btn__line {
    height: 5px;
    border-radius: 2.5px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

.burger-btn__line {
  background-color: #fff;
  display: block;
  width: 25px;
  height: 4px;
  border-radius: 2px;
  margin-bottom: 5px; }

.general__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -16vh;
  margin-left: 2.5%; }
  @media screen and (max-width: 768px) {
    .general__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: -14.5vh; } }
  @media screen and (max-width: 480px) {
    .general__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: -12vh;
      max-width: 100%; } }

.general__img, .general__slogan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }
  @media screen and (max-width: 768px) {
    .general__img, .general__slogan {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.general__img-pic {
  max-width: 100%;
  margin-top: -11vh; }
  @media screen and (max-width: 768px) {
    .general__img-pic {
      margin-top: 0;
      margin-left: -2%; } }
  @media screen and (max-width: 480px) {
    .general__img-pic {
      width: 360px;
      margin-top: 1vh;
      margin-left: -1%; } }

.general__slogan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: -5px;
  max-width: 100%; }
  @media screen and (max-width: 768px) {
    .general__slogan {
      width: 420px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      margin-top: 1.9vh; } }
  @media screen and (max-width: 480px) {
    .general__slogan {
      margin-top: 4vh; } }

.section__title--general {
  white-space: wrap; }
  @media screen and (max-width: 480px) {
    .section__title--general {
      text-align: center;
      font-size: 13.125vw; } }

.general__slogan-text {
  color: #fff;
  font-family: 'Lifehack';
  font-weight: 500;
  font-size: 65px;
  line-height: 0.95;
  margin-top: -8.2vh;
  white-space: wrap;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .general__slogan-text {
      margin-top: -5vh; } }
  @media screen and (max-width: 480px) {
    .general__slogan-text {
      margin-top: -9vh;
      font-size: 11.25vw;
      line-height: 1.1; } }

.best {
  background-image: url("../img/bg/best-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative; }

.best__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 16vh;
  width: 100%;
  max-width: 100%; }
  @media screen and (max-width: 768px) {
    .best__content {
      padding-bottom: 26.5vh; } }
  @media screen and (max-width: 480px) {
    .best__content {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      min-width: 300px;
      width: 100%;
      padding-bottom: 10vh;
      padding-top: 5.3vh; } }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .best__list {
      margin-top: 8.5vh;
      width: 98%; } }
  @media screen and (max-width: 480px) {
    .best__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin-left: 5.5%;
      margin-top: -3.95vh;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      padding-right: 2%;
      max-width: 100%; } }

.best__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 33.3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 2.1%; }
  .best__item:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .best__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      width: 100%;
      margin-top: -0.15vh;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      max-width: 100%; }
      .best__item--natural {
        margin-top: -1.8vh; } }

.best__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .best__desc {
      margin-left: 6%;
      max-width: 78%;
      min-height: 100%;
      margin-top: 34px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; } }

.best__desc-title {
  font-size: 24px;
  font-family: 'Lifehack';
  text-align: center;
  line-height: 1.2;
  margin-top: 34px; }
  @media screen and (max-width: 480px) {
    .best__desc-title {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      margin-top: 0;
      text-align: left; } }

.best__desc-text {
  font-size: 14px;
  font-family: 'Ubuntu';
  font-weight: 300;
  text-align: center;
  max-width: 100%;
  line-height: 1.75; }
  @media screen and (max-width: 480px) {
    .best__desc-text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      text-align: left;
      line-height: 1.8; } }

.best__img {
  width: 95px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .best__img--meat {
    margin: 0 2px -2px 0;
    height: 90px; }
    @media screen and (max-width: 480px) {
      .best__img--meat {
        margin: 6px 0 0 0; } }
  .best__img--hand {
    margin: 0 0 2px 0;
    height: 86px; }
    @media screen and (max-width: 480px) {
      .best__img--hand {
        margin: -36px 0 0 0; } }
  .best__img--natural {
    height: 76px;
    margin: 4px -2px 6px 0; }
    @media screen and (max-width: 480px) {
      .best__img--natural {
        margin: -25px 0 0 0; } }

.best__pic {
  width: 100%;
  height: 100%; }
  .best__pic--meat {
    fill: #e25028; }
  .best__pic--hand {
    fill: #f8b43a; }
  .best__pic--natural {
    fill: #8ac03e; }
  @media screen and (max-width: 480px) {
    .best__pic {
      min-width: 19vw; } }

.comments__container {
  height: 100%; }

.comments__content {
  height: 100%; }

.comments__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.comments__item {
  height: 50%;
  width: 25%;
  position: relative; }
  @media screen and (max-width: 768px) {
    .comments__item {
      height: 25%;
      width: 50%; } }

.comments__block {
  display: none;
  position: absolute;
  padding: 0 8% 0.5vh 8%;
  color: #fff;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .comments__block {
      text-align: center;
      padding: 1vh 13% 0 13%; } }
  @media screen and (max-width: 480px) {
    .comments__block {
      padding: 0 13% 1vh 13%; } }

.comments__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .comments__img:hover:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }
  .comments__img:hover .comments__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: absolute; }
    @media screen and (max-width: 768px) {
      .comments__img:hover .comments__block {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; } }

.block__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Gagalin';
  font-size: 14px;
  margin-bottom: 1vmin; }
  @media screen and (max-width: 768px) {
    .block__title {
      margin-bottom: -0.5vh; } }
  @media screen and (max-width: 480px) {
    .block__title {
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 3vh; } }

.block__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 14px;
  line-height: 1.53;
  margin-bottom: -0.5vmin;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .block__text {
      line-height: 1.75;
      margin-bottom: 0.5vh;
      min-width: 230px; } }
  @media screen and (max-width: 480px) {
    .block__text {
      display: none; } }

.block__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: block;
  border: none;
  height: 35px;
  min-width: 98px;
  background-color: #2f3234;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  width: 110px; }
  .block__btn:hover {
    cursor: pointer;
    background-color: #1e2021; }
  @media screen and (max-width: 768px) {
    .block__btn {
      margin-left: 1%; } }
  @media screen and (max-width: 480px) {
    .block__btn {
      display: none; } }

.block__btn-mobile {
  display: none; }
  @media screen and (max-width: 480px) {
    .block__btn-mobile {
      display: block;
      border: none;
      height: 35px;
      min-width: 98px;
      background-color: #2f3234;
      color: #fff;
      text-transform: uppercase;
      font-family: 'Ubuntu';
      border-radius: 5px;
      font-size: 13px;
      font-weight: 500;
      border-radius: 5px;
      text-align: center;
      line-height: 35px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      display: block;
      width: 130px; }
      .block__btn-mobile:hover {
        cursor: pointer;
        background-color: #1e2021; } }

.team {
  background-image: url("../img/bg/team-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  position: relative; }

.team__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.team__content {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 49.3%;
  min-width: 480px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(47, 50, 52, 0.93);
  padding-left: 80px;
  padding-top: 64px; }
  @media screen and (max-width: 768px) {
    .team__content {
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0;
      padding-top: 9.5vh; } }
  @media screen and (max-width: 480px) {
    .team__content {
      padding-top: 6.4vh;
      min-width: 300px;
      max-width: 100vw; } }

.team__list {
  margin-top: -0.5vh;
  margin-left: 18px; }
  @media screen and (max-width: 768px) {
    .team__list {
      margin: 0;
      margin-top: 4.3vh;
      margin-left: 2.5%;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .team__list {
      margin-top: 2vh; } }

.team__item-title {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  font-family: 'Gagalin';
  font-size: 14px;
  position: relative;
  margin-bottom: 4.5vh; }
  .team__item-title:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 6px solid #f8b43a;
    border-bottom: 0 solid transparent;
    left: -18px;
    top: 8px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  @media screen and (max-width: 768px) {
    .team__item-title {
      font-size: 25px;
      margin-bottom: 2.2vh; }
      .team__item-title:before {
        top: 16px; } }
  @media screen and (max-width: 480px) {
    .team__item-title {
      font-size: 24px;
      margin-bottom: 3.3vh; }
      .team__item-title:before {
        left: -16px; } }

.team__item-content {
  display: none;
  margin-top: -2.2vh;
  margin-bottom: 4vh; }
  @media screen and (max-width: 768px) {
    .team__item-content {
      margin-top: -1vh;
      margin-bottom: 1.5vh; } }
  @media screen and (max-width: 480px) {
    .team__item-content {
      margin-top: -2vh;
      margin-bottom: 2.2vh; } }

.team__item--active .team__item-title {
  color: #f8b43a; }
  .team__item--active .team__item-title:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  @media screen and (max-width: 768px) {
    .team__item--active .team__item-title:before {
      top: 12px; } }

.team__item--active .team__item-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .team__item--active .team__item-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.item-content__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px; }
  @media screen and (max-width: 768px) {
    .item-content__img {
      margin-bottom: 2vh; } }
  @media screen and (max-width: 480px) {
    .item-content__img {
      margin-bottom: 2.1vh; } }

.item-content__desc {
  width: 230px;
  max-width: 60%;
  color: #fff;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  margin-top: -0.3vh; }
  @media screen and (max-width: 768px) {
    .item-content__desc {
      width: 75%;
      max-width: 90%;
      margin: -0.5vh 4% -0.2vh 0; } }
  @media screen and (max-width: 480px) {
    .item-content__desc {
      margin-top: 0;
      margin-bottom: -0.7vh; } }

.item-content__title {
  font-weight: 900; }

.item-content__text {
  line-height: 1.7; }

.menu {
  background-image: url("../img/bg/menu-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative; }

.menu__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.section__title--menu {
  position: absolute;
  top: 13.5vh;
  left: 8.5%; }
  @media screen and (max-width: 768px) {
    .section__title--menu {
      top: 8.8vh;
      left: 3%; } }
  @media screen and (max-width: 480px) {
    .section__title--menu {
      top: 5.5vh;
      left: 12.5%; } }

.menu__list {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%; }

.menu__item {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .menu__item--active {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .menu__item--active {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      width: 100vw; } }
  .menu__item--active .menu__item-content {
    width: 545px; }
    @media screen and (max-width: 768px) {
      .menu__item--active .menu__item-content {
        width: 100%; } }
    @media screen and (max-width: 480px) {
      .menu__item--active .menu__item-content {
        width: 100%;
        max-width: 100%; } }
    .menu__item--active .menu__item-content .item-content__text-menu {
      display: block;
      height: 100%;
      min-width: 100%; }
  .menu__item--active .menu__item-title {
    color: #f8b43a; }

.menu__item-content {
  min-width: 0;
  height: 100%;
  overflow: hidden;
  background: rgba(47, 50, 52, 0.93); }

.menu__item-link {
  display: block;
  position: relative;
  height: 100%;
  width: 80px;
  text-decoration: none; }
  .menu__item-link:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.7); }
  .menu__item-link:hover:before {
    background: rgba(20, 20, 20, 0.85); }

.menu__item-title {
  position: absolute;
  color: #fff;
  font-family: 'Gagalin';
  font-size: 2.5rem;
  text-align: center;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg) translate(-50%, -50%);
  -ms-transform: rotate(-90deg) translate(-50%, -50%);
  transform: rotate(-90deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 50%;
  top: 50%; }
  @media screen and (max-width: 768px) {
    .menu__item-title {
      -webkit-transform: rotate(-90deg) translate(0, -50%);
      -ms-transform: rotate(-90deg) translate(0, -50%);
      transform: rotate(-90deg) translate(0, -50%);
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      top: 96%; } }
  @media screen and (max-width: 480px) {
    .menu__item-title {
      -webkit-transform: rotate(-90deg) translate(0, -50%);
      -ms-transform: rotate(-90deg) translate(0, -50%);
      transform: rotate(-90deg) translate(0, -50%);
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      top: 92.5%; } }

.item-content__text-menu {
  height: 100%;
  width: 100%;
  padding: 11% 5.5%;
  color: #fff;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  display: none;
  line-height: 1.8; }

.order {
  background-image: url("../img/bg/form-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative; }

@media screen and (max-width: 480px) {
  .section__title--order {
    line-height: 1.2;
    margin-bottom: 3vh;
    max-width: 100vw; } }

.order__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-bottom: 11.7vh; }
  @media screen and (max-width: 768px) {
    .order__content {
      padding-bottom: 13.5vh; } }
  @media screen and (max-width: 480px) {
    .order__content {
      padding-bottom: 0;
      padding-top: 3vh; } }

.form {
  width: 100%; }
  @media screen and (max-width: 768px) {
    .form {
      max-width: 475px; } }
  @media screen and (max-width: 480px) {
    .form {
      max-width: 460px; } }

.form__elem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .form__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  margin-right: 15px; }
  .form__col:last-child {
    margin: 0; }
  @media screen and (max-width: 768px) {
    .form__col {
      margin-right: 0;
      width: 100%; } }

.form__row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 17px; }
  .form__block:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__block {
      margin-right: 20px; } }
  @media screen and (max-width: 480px) {
    .form__block {
      margin-right: 10px; }
      .form__block:nth-child(3) {
        margin-right: 0; } }

@media screen and (max-width: 480px) {
  .form__block--no-phones {
    display: none; } }

.form__block-textarea {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.form__label {
  font-size: 14px;
  font-family: 'Ubuntu';
  font-weight: 300;
  color: #fff;
  margin-bottom: 5px; }
  @media screen and (max-width: 768px) {
    .form__label {
      margin-bottom: 3px; } }

.form__input {
  height: 36px;
  width: 100%;
  border: 1px solid #2f3234;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0 10px; }
  .form__input:focus {
    outline: none;
    border: 2px solid #f8b43a; }
  @media screen and (max-width: 768px) {
    .form__input {
      margin-bottom: 17px; } }

.form__textarea {
  height: 110px;
  resize: none; }

.buttons__row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px; }
  @media screen and (max-width: 480px) {
    .buttons__row {
      margin-top: 20px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 31px; } }

@media screen and (max-width: 480px) {
  .buttons__row--radio {
    margin-left: 9px; } }

.buttons__radio-label {
  position: relative;
  margin-right: 18px; }
  .buttons__radio-label:before {
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #2f3234;
    background-color: #fff;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    margin-right: 10px; }
    @media screen and (max-width: 480px) {
      .buttons__radio-label:before {
        margin-right: 9px; } }
  .buttons__radio-label:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 6px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #e25028; }
    @media screen and (max-width: 480px) {
      .buttons__radio-label:after {
        top: 5.5px; } }
  .buttons__radio-elem:focus + .buttons__radio-label:before {
    border: 1px solid #e25028; }
  .buttons__radio-elem:focus + .buttons__radio-label:after, .buttons__radio-elem:checked + .buttons__radio-label:after {
    width: 7px;
    height: 7px; }

.buttons__check-label:before {
  content: "\2714";
  color: transparent;
  font-weight: 900;
  width: 18px;
  height: 18px;
  border: 1px solid #2f3234;
  background-color: #fff;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  line-height: 1.25;
  padding-left: 2px;
  margin-right: 10px; }
  @media screen and (max-width: 480px) {
    .buttons__check-label:before {
      width: 17px;
      height: 17px;
      margin-right: 7px;
      margin-left: -2px; } }

.buttons__check-elem:focus + .buttons__check-label:before {
  border: 1px solid #e25028; }

.buttons__check-elem:checked + .buttons__check-label:before {
  content: "\2714";
  color: #e25028; }

@media screen and (max-width: 768px) {
  .buttons__btn {
    margin-top: 20px; } }

@media screen and (max-width: 480px) {
  .buttons__btn {
    margin-top: 5px;
    margin-left: 7px; } }

.buttons__btn-elem {
  float: left;
  display: block;
  border: none;
  height: 35px;
  min-width: 98px;
  background-color: #e25028;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  outline: none;
  border: 1px dotted transparent;
  margin-left: 2px; }
  .buttons__btn-elem:hover {
    cursor: pointer;
    background-color: #cb411b; }
  .buttons__btn-elem:focus {
    border: 1px dotted #fff; }

.buttons__btn-elem-reset {
  outline: none;
  display: block;
  border: 1px dotted transparent;
  height: 35px;
  min-width: 98px;
  background-color: transparent;
  color: #fff;
  font-family: 'Ubuntu';
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  line-height: 33px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .buttons__btn-elem-reset:hover {
    cursor: pointer;
    border: 1px dotted #fff; }
  .buttons__btn-elem-reset:focus {
    border: 1px solid #fff; }
  .buttons__btn-elem-reset:active {
    border: 1px solid #fff; }

.map {
  background-image: url("../img/bg/map-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative; }

.map__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.footer {
  height: 58px;
  width: 100%;
  background-color: #111111;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: 'Ubuntu';
  font-weight: 300;
  color: #fff;
  white-space: nowrap; }
  @media screen and (max-width: 768px) {
    .footer {
      height: 60px; } }
  @media screen and (max-width: 480px) {
    .footer {
      height: 115px;
      padding: 1.5vh 0 0 0; } }

.footer__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }
  @media screen and (max-width: 768px) {
    .footer__column {
      padding: 0 1.7%; } }
  @media screen and (max-width: 480px) {
    .footer__column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0; } }

.footer__adress {
  margin-top: -1px; }

.footer__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px; }
  @media screen and (max-width: 768px) {
    .footer__phone {
      margin-top: 3px; } }

.phone__pic {
  fill: #e25028;
  width: 11px;
  height: 11px;
  margin-top: 5px;
  margin-right: 10px; }

.phone__text {
  font-weight: 900;
  color: #e25028; }
  .phone__text a {
    text-decoration: none;
    color: inherit; }

.footer__socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .footer__socials {
      margin-bottom: 0.5vh;
      margin-right: 22px; } }

.socials__img {
  fill: #585858;
  max-width: 20px;
  max-height: 20px;
  margin-left: 20px; }
  .socials__img:hover {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    fill: #fff; }

/*# sourceMappingURL=main.css.map */