.best {
  background-image: url('../img/bg/best-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.best__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16vh;
  width: 100%;

  @include phones {
    min-width: rem(300px);
    max-width: 100vw;
  }
}

.best__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  @include tablets {
    margin-top: rem(150px);
  }

  @include phones {
    display: flex;
    flex-direction: column;
    margin-top: rem(30px);
  }
}

.best__item {
  display: flex;
  flex: 1;
  width: 33.3%;
  flex-direction: column;
  align-items: center;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }

  @include phones {
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: rem(13px);
    width: 100%;
  }
}

.best__desc {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include phones {
    margin-left: rem(10px);
    flex: 3;
    max-width: 70vw;

  }
}

.best__desc-title {
  font-size: rem(24px);
  font-family: 'Lifehack';
  margin-top: rem(28px);
  margin-bottom: rem(1px);
  text-align: center;
  line-height: 1.85rem;

  @include phones {
    text-align: left;
    margin-bottom: rem(6px);
  }
}

.best__desc-text {
  font-size: rem(14px);
  font-family: 'Ubuntu';
  font-weight: 300;
  text-align: center;
  width: 100%;
  line-height: 1.5rem;

  @include phones {
    text-align: left;
    line-height: 1.7rem;
  }
}



.best__img {
  width: rem(95px);
  height: rem(90px);
  &--meat {
    fill: $orange;
    margin: rem(-22px) rem(2px) 0 0;
  }
  &--hand {
    fill: $yellow;
    margin: 0 0 rem(4px) 0;
  }
  &--natural {
    fill: $green;
    width: rem(90px);
    height: rem(85px);
    margin: rem(-20px) 0 rem(10px) 0;
  }

  @include tablets {
    width: rem(100px);
    height: rem(100px);
  }

  @include phones {
    max-width: 41.67vw;
    max-height: 39.58vw;
    margin: 0;
    flex: 1;

    &--hand {
      margin: 7.3vw 0 0 0;
    }

    &--natural {
      max-width: 20.84vw;
      max-height: 20.84vw;
      flex: 1;
      margin: -10vw 2.08vw 0 2.08vw;
    }
  }
}