.best {
  background-image: url('../img/bg/best-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;

}

.best__container {
  justify-content: flex-start;
}

.best__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-top: 16vh;

  @include tablets {
    margin-top: 10vh;
  }

  @include phones {
    min-width: 310px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 5.2vh;
    justify-content: space-between;
    min-height: 72.5vh;
    flex: 0 0 auto;
  }
}

.section__title--best {
  @include phones {
  margin-bottom: 8vh;
  }
}

.best__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;

  @include tablets {
    margin-top: 8.5vh;
    width: 98%;
  }

  @include phones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 6.5%;
    margin-top: -32px;
    flex: 0 0 auto;
    margin-right: 1%;
    max-width: 100%;
    min-height: 55.5vh;
  }
}

.best__item {
  display: flex;
  flex: 1;
  width: 33.3%;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  margin-right: 2.1%;

  &:last-child {
    margin-right: 0;
  }

  @include phones {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-top: -1px;
    flex: 0 0 auto;
    max-width: 100%;
  }
}

.best__desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  @include phones {
    margin-left: 6%;
    max-width: 67vw;
    min-height: 100%;
    flex: 0 0 auto;
  }
}

.best__desc-title {
  font-size: 24px;
  font-family: 'Lifehack';
  text-align: center;
  line-height: 1.2;
  margin-top: 34px;

  @include phones {
    display: flex;
    flex: 0 0 auto;
    margin-top: 0;
    text-align: left;
  }
}

.best__desc-text {
  font-size: 14px;
  font-family: 'Ubuntu';
  font-weight: 300;
  text-align: center;
  max-width: 100%;
  line-height: 1.75;

  @include phones {
    display: flex;
    flex: 0 0 auto;
    text-align: left;
    line-height: 3.15vh;
  }
}

.best__img {
  width: 95px;
  display: flex;

  @include phones {
    max-width: 19.8vw;
  }

  &--meat {
    margin: 0 2px -2px 0;
    height: 90px;
      @include phones {
        height: 11.3vh;
        margin: -36px 0 0 0;
    }
  }

  &--hand {
    margin: 0 0 2px 0;
    height: 86px;
      @include phones {
      margin: -60px 0 0 0;
    }
  }

  &--natural {
  height: 76px;
  margin: 4px -2px 6px 0;
      @include phones {
      margin: -60px 0 0 0;
    }
  }
}

.best__pic {
  max-width: 100%;
  height: 100%;


  &--meat {
    fill: $orange;
  }

  &--hand {
    fill: $yellow;

  }

  &--natural {
    fill: $green;
  }

  @include phones {
    // min-width: 19vw;
  }
}

