.comments__list {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.comments__item {
  height: 50%;
  width: 25%;
  position: relative;

  @include tablets {
    height: 25%;
    width: 50%;
  }
}

.comments-block {
  display: none;
  position: absolute;
  padding: 0 8% 0.5vh 8%;
  color: #fff;
  width: 100%;
  height: 100%;

  @include tablets {
    text-align: center;
    padding: 1vh 13% 0 13%;
  }

  @include phones {
    padding: 0 13% 1vh 13%;
  }
}

.comments__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: grayscale(100%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &:hover:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px; 
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
  }

  &:hover .comments-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;

    @include tablets {
      align-items: center;
      }
  }

}

.comments-block__title {
  display: flex;
  font-family: 'Gagalin';
  font-size: 14px;
  margin-bottom: 1vmin;

  @include tablets {
    margin-bottom: -0.5vh;
  }

  @include phones {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 3vh;
  }
}

.comments-block__text {
  display: flex;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 14px;
  line-height: 1.53;
  margin-bottom: -0.5vmin;
  width: 100%;

  @include tablets {
    line-height: 1.75;
    margin-bottom: 0.5vh;
    min-width: 230px;
  }

  @include phones {
    display: none;
  }
}

.comments-block__btn {
  display: flex;
  @include btn($dark);
  width: 110px;

  @include tablets {
    margin-left: 1%;
  }

  @include phones {
    display: none;
  }
}

.comments-block__btn-mobile {
  display: none;

  @include phones {
    @include btn($dark);
    display: block;
    width: 130px;
  }
}

// .comments-block--active {
//   width: 460px;
//   height: 260px;
//   background-color: #fff;
//   color: $dark;
//   border-radius: 7px;
//   // position: fixed;
//   display: flex;
//   flex-direction: column;
//   top: 50%;
//   left: 50%;
//   z-index: 5;
//   padding: 0 15px;
//   justify-content: space-around;
//   transform: translate(calc(50vw), 0);

//   button {
//     display: none;
//   }
// }