.general {
  background-image: url('../img/bg/general-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.general__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: rem(5px);
}

.header__logo {
  margin-right: auto;
  margin-left: rem(-2px);
  margin-top: rem(6.5px);
}

.header__nav {
  margin-right: rem(13px);

  @include tablets {
    display: none;
  }
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    @include circle(rem(4px), #fff);
    margin: 0 rem(14px) 0 rem(15px);
  }
  &:last-child:after {
    display: none;
  }
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 5;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  &:hover {
    text-decoration: underline;
  }
}

.order__btn {
  @include btn($orange);

  @include tablets {
    padding: 0 rem(20px);
  }

  @include phones {
    padding: 0 rem(25px);
    height: rem(39px);
  }
}

.header__burger-btn {
  display: none;
  border: none;
  background-color: transparent;
  margin: rem(6px) rem(15px) 0 rem(24px);

  @include tablets {
    display: flex;
    flex-direction: column;
  }

  @include phones {
    margin: rem(6px) 0 0 rem(24px);
  }

  &:hover .burger-btn__line {
    height: 5px;
    border-radius: 2.5px;
    transition: 0.2s;
  }
}

.burger-btn__line {
  background-color: #fff;
  display: block;
  width: 25px;
  height: 4px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.general__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-top: -6vh;
  margin-left: 2.5%;

  @include tablets {
    flex-direction: column;
    align-items: center;
    margin-top: 12vh;
    margin-left: -3%;
  }

  @include phones {
    flex-direction: column;
    margin-top: 4.5vh;
    width: rem(410px);
    max-width: 100vw;
  }
}

.general__img, .general__slogan {
  display: flex;
  flex-basis: 50%;

  @include tablets {
    align-items: center;
  }
}

.general__img-pic {
  max-width: 100%;
  max-height: 80vh;
  margin-top: -10vh;
  @include tablets {
    margin: 0 auto;
  }

  @include phones {
    margin-left: rem(2px);
    max-width: 90vw;
  }
}

.general__slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: rem(-5px);
  max-width: 100%;


  @include tablets {
    width: rem(420px);
    align-items: center;
    text-align: center;
  }
}

.section__title--general {
  white-space: wrap;

  @include phones {
    text-align: center;
    font-size: 13.125vw;
  }
}

.general__slogan-text {
  color: #fff;
  font-family: 'Lifehack';
  font-weight: 500;
  font-size: rem(65px);
  line-height: 0.95;
  margin-top: rem(-50px);
  white-space: wrap;
  width: 100%;

  @include phones {
    font-size: 11.25vw;
  }
}
