.menu {
  background-image: url('../img/bg/menu-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.menu__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu__content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.section__title--menu {
  position: absolute;
  top: 13.5%;
  left: 8.5%;
  color: #fff;

  @include tablets {
    top: 9.5%;
   left: 3.5%;
  }

  @include phones {
    top: 4%;
   left: 11%;
  }
}

.menu__list {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.menu__item {
  height: 100%;
}

.menu__item-link {
  display: block;
  position: relative;
  height: 100%;
  width: 80px;
  text-decoration: none;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px; 
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(#141414,0.7);
  }
}

.menu__item-title {
  position: absolute;
  color: #fff;
  font-family: 'Gagalin';
  font-size: rem(40px);
  text-align: center;
  white-space: nowrap;
  transform: rotate(-90deg) translate(-50%, -50%);
  transform-origin: 0 0;
  left: 50%;
  top: 50%;

  @include tablets {
    transform: rotate(-90deg) translate(0, -50%);
    transform-origin: 0 0;
    top: 96%;
  }
}

.menu__item-content {
  display: none;
}

.menu__item--active {
  .menu__item-title {
    color: $yellow;
  }

  .menu__item-content {
    display: block;
    position: relative;
    width: rem(545px)
  }
}

.item-content__text-menu {
  color: #fff;
  font-family: 'Ubuntu';
  font-size: rem(14px);
  font-weight: 300;
}