.menu {
  background-image: url('../img/bg/menu-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

// .menu__content {
//   height: 100%;
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
// }

.section__title--menu {
  position: absolute;
  top: 13.5vh;
  left: 8.5%;

  @include tablets {
    top: 8.8vh;
    left: 3%;
  }

  @include phones {
    top: 5.5vh;
    left: 12.5%;
  }
}

.menu__list {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
}

.menu__item {
  height: 100%;
  position: relative;
  display: flex;
  transition: 2s;
  &--active {

      @include tablets {
        width: 100%;
      }

      @include phones {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        width: 100vw;
      }

    .menu-content {
      width: 545px;

      @include tablets {
        width: calc(100vw - 240px);
      }

      @include phones {
        width: 100%;
        max-width: 100%;
      }

      .menu-content__text {
        display: block;
        height: 100%;
        // min-width: 100%;
      }
    }

    .menu__item-title {
      color: $yellow;
    }

    .menu-content__close {
      @include phones {
        width: 20px;
        height: 20px;
        display: block;
        top: 30px;
        right: 30px;
        position: absolute;


        &:before, &:after {
          position: absolute;
          right: 25%;
          top: -5px;
          content: ' ';
          height: 28px;
          width: 5px;
          background-color: #bfc0c1;
          border-radius: 2.5px;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

  }
}

.menu-content {
  width: 0;
  height: 100%;
  overflow: hidden;
  background: rgba(#2f3234, .93);
  transition: width 1s;

  @include phones {
    transition: initial;
  }
}

.menu__item-link {
  display: block;
  position: relative;
  height: 100%;
  width: 80px;
  text-decoration: none;
  background-size: cover;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px; 
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(#141414,0.7);
  }

  &:hover:before {
    background: rgba(#141414,0.85);
  }

  &--meats {
    background-position: 75% 50%;
  }

  &--vegans {
    background-position: 90% 50%;
  }

  &--diets {
    background-position: 100% 50%;
  }
}

.menu__item-title {
  position: absolute;
  color: #fff;
  font-family: 'Gagalin';
  font-size: rem(40px);
  text-align: center;
  white-space: nowrap;
  transform: rotate(-90deg) translate(-50%, -50%);
  transform-origin: 0 0;
  left: 50%;
  top: 50%;

  @include tablets {
    transform: rotate(-90deg) translate(0, -50%);
    transform-origin: 0 0;
    top: 96%;
  }

  @include phones {
    transform: rotate(-90deg) translate(0, -50%);
    transform-origin: 0 0;
    top: 92.5%;
  }
}


.menu-content__text {
  height: 100%;
  width: 545px;
  padding: 57px 31px;
  color: #fff;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
  display: block;

  @include tablets {
    width: calc(100vw - 240px);
  }

  @include phones {
    width: 100%;
    max-width: 100%;
    line-height: 3.15vh;
    padding: 7.1vh 6.4vw;
  }

}
