.order {
  background-image: url('../img/bg/form-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.order__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: rem(76px);
}

.form {
  width: 100%;

  @include tablets {
    max-width: rem(505px);
  }
}

.form__elem {
  display: flex;
  width: 100%;

  @include tablets {
    flex-direction: column;
  }
}

.form__col {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: rem(15px);

  &:last-child {
      margin: 0;
    }

  @include tablets {
    margin-right: 0;
    width: 100%;
  }
}

.form__row {
  width: 100%;
  display: flex;
}

.form__block {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: rem(17px);

  &:last-child {
      margin-right: 0;
    }

  // @include tablets {
  //   margin-right: rem(24px);
  // }

  @include phones {
    &:nth-child(3) {
      margin-right: 0;
    }
  }
}

.form__block--no-phones {
  @include phones {
      display: none;
  }
}

.form__block-textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttons__row {
  width: 100%;
  display: flex;
}

.form__label {
  font-size: rem(14px);
  font-family: 'Ubuntu';
  font-weight: 300;
  color: #fff;
  margin-bottom: rem(5px);
}

.form__input {
  height: rem(36px);
  width: 100%;
  border: rem(1px) solid $dark;
  border-radius: rem(5px);
  margin-bottom: rem(15px);
  padding: 0 rem(10px);

  &:focus {
    outline: none;
    border: rem(2px) solid $yellow;
  }

  // @include tablets {
  //   margin-bottom: rem(17px);
  // }
}

.form__textarea {
  height: rem(110px);
  resize: none;
}

.buttons__row {
  margin-bottom: rem(18px);
}

.buttons__radio-label {
  position: relative;
  margin-right: rem(18px);

  &:before {
    content: "";
    width: rem(17px);
    height: rem(17px);
    border-radius: 50%;
    border: rem(1px) solid $dark;
    background-color: #fff;
    display: inline-flex;
    position: relative;
    margin-right: rem(10px);
  }

  &:after {
    content: "";
    position: absolute;
    left: rem(8px);
    top: rem(6px);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: $orange;

    @include tablets {
      top: rem(7px);
    }
  }

  .buttons__radio-elem:focus+&:before {
    border: rem(1px) solid $orange;
  }

  .buttons__radio-elem:focus+&:after, .buttons__radio-elem:checked+&:after {
    width: rem(7px);
    height: rem(7px);
  }
}

.buttons__check-label {
  &:before {
    content: "\2714";
    color: transparent;
    font-weight: 900;
    width: rem(18px);
    height: rem(18px);
    border: rem(1px) solid $dark;
    background-color: #fff;
    display: inline-flex;
    position: relative;
    line-height: 1.25;
    padding-left: rem(2px);
    margin-right: rem(10px);
  }

  .buttons__check-elem:focus+&:before {
    border: rem(1px) solid $orange;
  }

  .buttons__check-elem:checked+&:before {
    content: "\2714";
    color: $orange;
  }
}

.buttons__btn-elem {
  float: left;
  @include btn($orange);
  outline: none;
  border: rem(1px) dotted transparent;
  margin-left: rem(2px);

  &:focus {
    border: rem(1px) dotted #fff;
  }
}

.buttons__btn-elem-reset {
  outline: none;
  display: block;
  border: rem(1px) dotted transparent;
  height: rem(35px);
  min-width: rem(98px);
  background-color: transparent;
  color: #fff;
  font-family: 'Ubuntu';
  border-radius: rem(5px);
  font-size: rem(13px);
  font-weight: 500;
  border-radius: rem(5px);
  text-align: center;
  line-height: rem(33px);
  transition: .5s;

  &:hover {
    cursor: pointer;
    border: rem(1px) dotted #fff;
  }

  &:focus {
    border: rem(1px) solid #fff;
  }

  &:active {
    border: rem(1px) solid #fff;
  }
}
