.order {
  background-image: url('../img/bg/form-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.order__container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.order__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 76px;
  flex: 0 0 auto;

  @include tablets {
    margin-bottom: 13.5vh;
  }

  @include phones {
    min-height: 144vw;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.section__title--order {
  max-width: 100%;

  @include phones {
    line-height: 12.5vw;
    margin-bottom: 2.5vw;
    max-width: 100vw;
  }
}

.form {
  width: 100%;

  @include tablets {
    max-width: 475px;
  }

  @include phones {
    max-width: 460px;
  }
}

.form__elem {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.form__wrapper {
  display: flex;
  width: 100%;

  @include tablets {
    flex-direction: column;
  }
}

.form__col {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 18px;

  &:last-child {
      margin: 0;
    }

  @include tablets {
    margin-right: 0;
    width: 100%;
  }
}

.form__row {
  width: 100%;
  display: flex;
}

.form__block {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 18px;

  &:last-child {
      margin-right: 0;
    }

  @include tablets {
    margin-right: 20px;
  }

  @include phones {
    margin-right: 10px;
    &:nth-child(3) {
      margin-right: 0;
    }
  }
}

.form__block--no-phones {
  @include phones {
      display: none;
  }
}

.form__block-textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__label {
  font-size: 14px;
  font-family: 'Ubuntu';
  font-weight: 300;
  color: #fff;
  margin-bottom: 5px;

  @include tablets {
    margin-bottom: 0.4vh;
  }
}

.form__input {
  height: 36px;
  width: 100%;
  border: 1px solid $dark;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0 10px;

  &:focus {
    outline: none;
    border: 2px solid $yellow;
  }

  @include tablets {
    margin-bottom: 1.5vh;
  }

  @include phones {
    margin-bottom: 3.5vw;
    height: 7.5vw;
  }
}

.form__textarea {
  height: 110px;
  resize: none;

  @include phones {
    height: 23vw;
  }
}

.form__buttons {
  @include phones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 33.2vw;
    margin-top: 3.3vw;
  }
}

.buttons__row {
  width: 100%;
  display: flex;
  margin-bottom: 18px;

  @include phones{
    margin-top: 1.6vw;
    justify-content: center;
    margin-bottom: 1.6vw;
  }
}

.buttons__row--radio {
  @include phones {
    margin-left: 15px;
  }
}

.buttons__radio-label {
  position: relative;
  margin-right: 18px;

  &:before {
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid $dark;
    background-color: #fff;
    display: inline-flex;
    position: relative;
    margin-right: 10px;

    @include phones {
     margin-right: 9px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 6px;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: $orange;

    @include phones {
      top: 5.5px;
    }
  }

  .buttons__radio-elem:focus+&:before {
    border: 1px solid $orange;
  }

  .buttons__radio-elem:focus+&:after, .buttons__radio-elem:checked+&:after {
    width: 7px;
    height: 7px;
  }
}

.buttons__check-label {
  &:before {
    content: "\2714";
    color: transparent;
    font-weight: 900;
    width: 18px;
    height: 18px;
    border: 1px solid $dark;
    background-color: #fff;
    display: inline-flex;
    position: relative;
    line-height: 1.25;
    padding-left: 2px;
    margin-right: 10px;

    @include phones {
      width: 17px;
      height: 17px;
      margin-right: 7px;
      margin-left: -2px;
    }
  }

  .buttons__check-elem:focus+&:before {
    border: 1px solid $orange;
  }

  .buttons__check-elem:checked+&:before {
    content: "\2714";
    color: $orange;
  }
}

.buttons__btn {
  @include tablets {
    margin-top: 20px;
  }

  @include phones {
    margin-top: 1vw;
    margin-left: 1.5vw;
  }
}

.buttons__btn-elem {
  float: left;
  @include btn($orange);
  outline: none;
  border: 1px dotted transparent;
  margin-left: 2px;
  padding: 0px 16px;

  &:focus {
    border: 1px dotted #fff;
  }

  @include phones {
    padding: 0px 15px;
    height: 35px;
  }
}

.buttons__btn-elem-reset {
  outline: none;
  display: block;
  border: 1px dotted transparent;
  height: 35px;
  min-width: 98px;
  background-color: transparent;
  color: #fff;
  font-family: 'Ubuntu';
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  line-height: 33px;
  transition: .5s;

  &:hover {
    cursor: pointer;
    border: 1px dotted #fff;
  }

  &:focus {
    border: 1px solid #fff;
  }

  &:active {
    border: 1px solid #fff;
  }
}

.success {
  color: #fff;
  }

.error {
  color: red;
  }
