//colors
$dark: #2f3234;
$orange: #e25028;
$yellow: #f8b43a;
$green: #8ac03e;

//resolutions

$tablets: 768px;
$phones: 480px;

// $tablets: 785px;  //для РР (ширина экрана + ширина скролла в браузере)
// $phones: 497px;  //для РР (ширина экрана + ширина скролла в браузере)
