.wrapper {
  overflow: hidden;
  min-width: 940px;
  min-height: 100%;
  position: relative;
}

.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maincontant {
  height: 100%;
  min-height: 650px;
}

.section {
  background-color: rgba(20,20,20,0.31);
  min-width: 940px;
  min-height: 650px;
  height: 100vh;
}

.section__title {
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
}

.pagination {
  position: fixed;
  transform: translate(rem(501px), rem(90px));
  top: 0%;
  right: 50%;
  z-index: 2;
}

.pagination__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 5px;
  &:after {
    content: '';
    display: inline-block;
    @include circle(6px, #fff);
    position: relative;
    top: -3px;
    left: 7px;
    transform: translate(-50%, -50%);
  }
}

.pagination__item:hover, .pagination__item--active {
  border: 1px solid #fff;
}
