.wrapper {
  overflow: hidden;
  width: 100%;
  // min-width: 960px;
  // min-height: 100%;
  position: relative;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;

  @include phones {
  padding: 0 2%;
  }
}

.maincontant {
  height: 100%;
  min-height: 650px;
}

.section {
  background-color: rgba(20,20,20,0.31);
  // min-width: 960px;
  width: 100%;
  min-height: 650px;
  height: 100vh;

  @include tablets {
    height: 100vh;
    // max-height:100vh;
  }
  @include phones {
    min-height: 568px;
  }
}

.section__title {
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 60px;

  @include tablets {
    text-align: center;
    margin-bottom: 5.9vh;
  }

  @include phones {
    font-size: 50px;
    margin-bottom: 7.5vh;
  }

  &--white {
    color: #fff;
  }

  &--dark {
    color: $dark;
  }

  &--yellow {
    color: $yellow;
  }
}

.pagination {
  position: fixed;
  top: 14vh;
  right: 4.5%;
  z-index: 2;
  @include tablets {
    display: none;
  }
}

.pagination__item {
  position: relative;
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  margin-bottom: rem(5px);
}

.pagination__item:hover, .pagination .active {
  border: 1px solid #fff;
}

.pagination__link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0 !important;
    &:after {
    content: '';
    display: inline-block;
    @include circle(rem(6px), #fff);
    position: relative;
    top: rem(-3px);
    left: rem(7px);
    transform: translate(-50%, -50%);
  }
}

.arrow {
  display: block;
  position: absolute;
  bottom: 4.5vh;

  @include tablets {
    bottom: 2.7vh;
    left: 48%;
  }

  @include phones {
    bottom: 2.2vh;
    left: 47%;
  }

  &:hover {
    animation: size 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    -webkit-animation: size 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in;
  }
}

.arrow__img {
  width: 29px;
  height: 29px;
  fill: #fff;
}
